:host /deep/ {
  width: 100%;
}

.container {

  .header {
    margin: auto;

    .h1 {
      font-size: 34px;
    }

    p {
      color: gray;
    }

    max-width: 320px;
    font-weight: 100 !important;
    padding: 20px;
    text-align: center;
  }

  .forms>* {
    padding: 5px;
    width: 100%;
    margin: auto;
  }

}

@media(max-width: 959px) {
  .container {
    padding: 20px 5px !important;
  }
}


:host /deep/ mat-form-field.mat-form-field {

  label {
    color: gray !important;
  }

  .mat-form-field-wrapper {
    color: gray;
    border-bottom-color: gray;
  }

  .mat-form-field-underline {
    background-color: gray;
  }

}
