<div class="container" [style.padding]="padding + 'px'">

  <div class="header">

    <div class="h1">Our Pricing</div>

    <p>
      Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit.
    </p>
  </div>

  <div class="pricings" fxLayout="row wrap" fxLayoutAlign="center">

    <div class="pricing">
      <div class="head">
        <div class="plan">Standard</div>
        <div class="price">$29.00</div>
        <small class="detail">BILLING PER MONTH</small>
      </div>
      <div class="body">
        <div>
          <span>5</span> Analytics Campaings
        </div>
        <div>
          <span>250</span> Crawled Pages
        </div>
        <div>
          <span>15</span> Social Accounts
        </div>
      </div>
      <div class="footer">
        <button mat-stroked-button>Buy</button>
      </div>
    </div>

    <div class="pricing">
      <div class="head">
        <div class="plan">Medium</div>
        <div class="price">$96.00</div>
        <small class="detail">BILLING PER MONTH</small>
      </div>
      <div class="body">
        <div>
          <span>10</span> Analytics Campaings
        </div>
        <div>
          <span>550</span> Crawled Pages
        </div>
        <div>
          <span>Includes</span> Branded Reports
        </div>
        <div>
          <span>15</span> Social Accounts
        </div>
      </div>
      <div class="footer">
        <button mat-stroked-button>Buy</button>
      </div>
    </div>

    <div class="pricing">
      <div class="head">
        <div class="plan">Large</div>
        <div class="price">$149.00</div>
        <small class="detail">BILLING PER MONTH</small>
      </div>
      <div class="body">
        <div>
          <span>25</span> Analytics Campaings
        </div>
        <div>
          <span>750</span> Crawled Pages
        </div>
        <div>
          <span>Includes</span> Branded Reports
        </div>
        <div>
          <span>35</span> Social Accounts
        </div>
      </div>
      <div class="footer">
        <button mat-stroked-button>Buy</button>
      </div>
    </div>



  </div>


</div>
