<div class="container">

  <div class="title">
    Landox
  </div>

  <div class="menu" fxLayout="row wrap" fxLayoutAlign="center">

    <div class="box" routerLink="/scrolling">
      <img src="assets/img/layout-1.PNG" alt="">
      <div> SCROLLING </div>
    </div>

    <div class="box" routerLink="/sliding">
      <img src="assets/img/layout-2.PNG" alt="">
      <div> SLIDING </div>
    </div>

    <div class="box" routerLink="/side">
      <img src="assets/img/layout-3.PNG" alt="">
      <div> SIDE </div>
    </div>

  </div>

</div>
