<div class="partners-row" fxLayout="row wrap" fxLayoutAlign="center">
  <div class="partner">
    <img src="assets/img/v-smart-0.png" alt="">
  </div>
  <div class="partner">
    <img src="assets/img/v-smart-1.png" alt="">
  </div>
  <div class="partner">
    <img src="assets/img/v-smart-2.png" alt="">
  </div>
  <div class="partner">
    <img src="assets/img/v-smart-3.png" alt="">
  </div>
  <div class="partner">
    <img src="assets/img/v-smart-4.png" alt="">
  </div>
</div>



<div class="container" [style.padding]="padding + 'px'">

  <div class="feat-content" fxLayout="row wrap" fxLayoutAlign="center">

    <div class="feat-item">
      <span class="mdi mdi-monitor"></span>
      <div class="sub-title">
        Platforms
      </div>
      <div class="desc">
        Sed ut perspiciatis unde omnis iste natus error sit.
      </div>
    </div>

    <div class="feat-item">
      <span class="mdi mdi-cellphone"></span>
      <div class="sub-title">
        Responsible
      </div>
      <div class="desc">
        Sed ut perspiciatis unde omnis iste natus error sit.
      </div>
    </div>

    <div class="feat-item">
      <span class="mdi mdi-settings"></span>
      <div class="sub-title">
        Customize
      </div>
      <div class="desc">
        Sed ut perspiciatis unde omnis iste natus error sit.
      </div>
    </div>

    <div class="feat-item">
      <span class="mdi mdi-message-outline"></span>
      <div class="sub-title">
        Supports
      </div>
      <div class="desc">
        Sed ut perspiciatis unde omnis iste natus error sit.
      </div>
    </div>


  </div>


  <div class="tabs-features">

    <mat-tab-group mat-align-tabs="center">

      <!-- First Tab -->
      <mat-tab label="First">
        <div class="content-tab" fxLayout="row wrap" fxLayoutAlign="center">
          <div class="side-left">

            <div class="title">At vero eos et accusamus </div>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
              agile
              dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.


            </p>
            <ul>
              <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
              </li>
              <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
              </li>
            </ul>

          </div>

          <div class="side-right">
            <img src="assets/img/banner_mobile.png" alt="">
          </div>

        </div>
      </mat-tab>

      <!-- Second Tab -->
      <mat-tab label="Second">
        <div class="content-tab" fxLayout="row wrap" fxLayoutAlign="center">
          <div class="side-left">
            <div class="title">At vero eos et accusamus </div>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
              agile
              dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
            <ul>
              <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
              </li>
              <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
              </li>
            </ul>
          </div>

          <div class="side-right">
            <img src="assets/img/banner_mobile.png" alt="">
          </div>

        </div>



      </mat-tab>

      <!-- Third Tab -->
      <mat-tab label="Third">
        <div class="content-tab" fxLayout="row wrap" fxLayoutAlign="center">
          <div class="side-left">

            <div class="title">At vero eos et accusamus </div>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
              agile
              dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.


            </p>
            <ul>
              <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
              </li>
              <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
              </li>
            </ul>

          </div>

          <div class="side-right">
            <img src="assets/img/banner_mobile.png" alt="">
          </div>

        </div>
      </mat-tab>

    </mat-tab-group>


  </div>

</div>
