<!-- ============================================================== -->
<!-- Header Navigation -->
<!-- ============================================================== -->

<header class="header-nav sticky">
  <header-navigation [home]="home" [features]="features" [works]="works" [services]="services"
    [testimonials]="testimonials" [pricings]="pricings" [contact]="contact"></header-navigation>
</header>


<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Home Section -->
  <!-- ============================================================== -->
  <div class="home" #home>
    <home [padding]="100"></home>
  </div>
  <!-- ============================================================== -->
  <!-- Feature Section -->
  <!-- ============================================================== -->
  <div class="features" #features>
    <feature [padding]="100"></feature>
  </div>
  <!-- ============================================================== -->
  <!-- Works Section -->
  <!-- ============================================================== -->
  <div class="works bg-odd" #works>
    <works [padding]="100"></works>
  </div>
  <!-- ============================================================== -->
  <!-- Services Section -->
  <!-- ============================================================== -->
  <div class="services" #services>
    <services [padding]="100"></services>
  </div>
  <!-- ============================================================== -->
  <!-- Testimonials Section -->
  <!-- ============================================================== -->
  <div class="testimonials bg-odd" #testimonials>
    <testimonials [padding]="100"></testimonials>
  </div>
  <!-- ============================================================== -->
  <!-- Pricing Section -->
  <!-- ============================================================== -->
  <div class="pricings" #pricings>
    <pricings [padding]="100"></pricings>
  </div>
  <!-- ============================================================== -->
  <!-- Contact Section -->
  <!-- ============================================================== -->
  <div class="contact bg-odd" #contact>
    <contact [padding]="100"></contact>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->



<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
  <footer-bar></footer-bar>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
