<div class="container" [style.padding]="padding + 'px'">

  <div class="head" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

    <div class="info-head">
      <div class="title">
        <p> Be Simple <small>and</small> </p>
        <p>Amazing </p>
      </div>

      <div class="description">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi.
      </div>
    </div>

    <div class="img-head">
      <img src="assets/img/mock.webp" alt="" class="responsive">
    </div>

  </div>

</div>
