<div class="container">
  <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around stretch">

    <div class="menu">
      <h3>
        <u>Landox</u>
      </h3>
      <ul>
        <li>Home</li>
        <li>Feature</li>
        <li>Works</li>
        <li>Services</li>
      </ul>
    </div>

    <div class="menu">
      <h3>Information</h3>
      <ul>
        <li>Terms & Condition</li>
        <li>About us</li>
        <li>Works</li>
        <li>Jobs</li>
      </ul>
    </div>

    <div class="menu">
      <h3>Support</h3>
      <ul>
        <li>FAQ</li>
        <li>Contact</li>
        <li>Works</li>
        <li>Discussion</li>
      </ul>
    </div>

    <div class="menu">
      <h3>Subscribe Us</h3>
      <mat-form-field>
        <input matInput placeholder="Enter your Email">
      </mat-form-field>

      <span class="mdi mdi-facebook"></span>
      <span class="mdi mdi-twitter"></span>
      <span class="mdi mdi-linkedin"></span>
      <span class="mdi mdi-google-plus"></span>
    </div>

  </div>

</div>
