<div class="container" [style.padding]="padding + 'px'">

  <div class="header">
    <div class="h1">Our Services</div>
    <p>
      Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit.
    </p>
  </div>

  <div class="services" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="service">
      <span class="icon mdi mdi-diamond"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>

    <div class="service">
      <span class="icon mdi mdi-crown"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>

    <div class="service">
      <span class="icon mdi mdi-atom"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>


    <div class="service">
      <span class="icon mdi mdi-crosshairs-gps"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>


  </div>

  <div class="services" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="service">
      <span class="icon mdi mdi-lightbulb-on"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>

    <div class="service">
      <span class="icon mdi mdi-image-filter-drama"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>

    <div class="service">
      <span class="icon mdi mdi-trophy-outline"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>


    <div class="service">
      <span class="icon mdi mdi-alarm"></span>
      <div>
        <span>Sed ut perspiciatis</span>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintoc
        </p>
      </div>
    </div>


  </div>

</div>
